.btn-animation {
    position: relative;
    padding: 13px 30px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #b19777;
    z-index: 1;
  }
  
  .btn-animation::before {
    content: "";
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: width 0.3s ease-in-out;
    background-color: #b19777;
    z-index: -1;
  }
  
  .btn-animation:hover {
    color: white;
    border: 1px solid #b19777;
  }
  
  .btn-animation:hover::before {
    width: 0%;
    right: 0;
    left: auto;
  }
  
.bg{
    background-image: url('../assets//images/urbanHouse.jpg');
    background-size: cover;
    background-position: bottom right;
}